*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    border: 1px solid black;
    height: 40px;
    text-align: center;
    background-color: black;
    color:snow;
}

main{
    max-height: 100vh;
    border: 1px solid black;
    padding-top: 20px;

}